.country-ranks {
    background-color: #1B1D1F;
    padding: 20px 30px;
    border: 1px solid #282B30;
    box-shadow: 0px 0px 10px #4e81ee50;

    margin: 150px auto 50px auto;
    width: 90%;
    min-height: 600px;
    border-radius: 10px;
    z-index: 1;

    color: #D2D5DA;
}

/* TOP BAR */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top-bar p {
    font-size: 20px;
    font-weight: bold;
}

.top-bar input {
    background: url('/src/assets/search.svg') no-repeat 10px center;
    background-size: 18px;

    background-color: #282B30;
    border: 0.5px solid #6C727F;
    padding: 10px 10px 10px 35px;
    border-radius: 5px;
    width: 230px;

    color: #D2D5DA;
    font-size: 14px;
    font-weight: 600;
}

.top-bar input::placeholder {
    color: #6C727F;
}

.top-bar input:hover {
    border-color: #4E80EE;
}

.top-bar input:focus {
    outline: none; 
    border-color: #4E80EE;
}

/* MAIN CONTENT */
.main-content {
    display: flex;
    gap: 30px;
    width: 100%;  
}

/* SIDE BAR */
.side-bar {
    left: 50px;
    max-width: 25%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-bar p {
    font-size: 12px;
    font-weight: 600;
}

/* SIDE BAR - SORT */
.sort .drd-sort {
    width: 100%;
    background-color: #282B30;
    border: 0.5px solid #6C727F;
}

.sort .drd-sort :deep(.p-dropdown-label) {
    font-size: 14px;
    color: #D2D5DA;
}

.sort :deep(.p-dropdown-panel) {
    background-color: #1B1D1F;
    border: 1px solid #6C727F;
}
.sort :deep(.p-dropdown-item) {
    font-size: 14px;
    color: #D2D5DA;
    padding: 8px 12px;
}

.sort :deep(.p-dropdown-item:hover) {
    background-color: #282B30;
    color: #FFFFFF;
}

.sort :deep(.p-dropdown-item.p-highlight) {
    background-color: #2e3238;
    color: #FFFFFF;
}

.sort :deep(.p-dropdown-items-wrapper) {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* SIDE BAR - REGION */
.region button {
    background-color: #282B30;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    margin: 0 5px 5px 0;

    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    color: #D2D5DA;
    font-size: 14px;

    cursor: pointer;
}

.region button.active {
    background-color: #4E80EE;
    color: #D2D5DA;
}

/* SIDE BAR - STATUS */
.status .cb {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;

    font-weight: 500;
    color: #D2D5DA;
    font-size: 14px;
}

.status :deep(.check-box .p-checkbox-box) {
    width: 20px;
    height: 20px;
    border: 1px solid #D2D5DA;
    background-color: #1B1D1F;
}

.status :deep(.check-box .p-checkbox-icon) {
    color: #D2D5DA;
}

.status ::deep(.check-box .p-checkbox-box:hover) {
    border: 1px solid #4E80EE;
}

/* TABLE */
.table {
    width: 75%;
    min-height: 400px;
}

.table :deep(.p-datatable) {
    background: #1B1D1F;
    overflow: hidden;
    table-layout: fixed;
}

/* HEADER */
.table :deep(.p-datatable-thead > tr > th) {
    background: #1B1D1F;
    color: #D2D5DA;
    font-size: 12px;
    border-bottom: 1px solid #6C727F;
}

/* BODY CELLS */
.table :deep(.p-datatable-tbody > tr > td) {
    background: #1B1D1F;
    padding: 15px;
    
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #D2D5DA;
    font-size: 14px;
}

/* CLICKABLE ROWS */
.table :deep(.p-datatable-tbody > tr) {
    cursor: pointer;
}

.table :deep(.p-datatable-tbody > tr:hover > td) {
    background: #282B30;
}

/* PAGINATOR */
.table :deep(.p-paginator) {
    background: #1B1D1F;
    border-radius: 0;
}

.table :deep(.p-paginator-page) {        
    color: #6C727F;
    font-size: 12px;
    font-weight: bold;
}

/* PAGINATOR - ACTIVE PAGE */
:deep(.p-paginator .p-paginator-pages .p-paginator-page.p-highlight) {
    background:#4E80EE;
    color: #D2D5DA;
}