body {
  margin: 0;
  padding: 0;

  font-family: 'Be Vietnam Pro', sans-serif;
  background-color: #1B1D1F;
}

.hero-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;

  background-image: url('../assets/hero-image.jpg');
  height: 250px;
  background-size: cover;
  background-position: center;
  z-index: -1;

  display: flex;
  place-items: center;
  justify-content: center;
}

.hero-image img {
  margin-top: -90px;

}
